<div class="jumbotron">
    <h1 class="text-center">Alurapic</h1>
</div>

<p ng-show="mensagem.length" class="alert alert-info"><!-- mensagem de sucesso ou erro de acordo com o resultado da operação -->
    {{mensagem}}
</p>


<div class="row">
    <div class="col-md-12">
    <form>

    		<div class="input-group">
                <span class="input-group-btn">
                    <a href="/fotos/new" class="btn btn-primary" type="button">
                        Nova foto
                    </a>
                </span>
                <input class="form-control" placeholder="filtrar pelo título da foto" ng-model="filtro" ng-model-options="{ debounce: 500 }">
            </div>

         
    </form>
    </div> <!-- fim col-md-12 -->
</div> <!-- fim row -->

<div class="row">
	<meu-painel class="col-md-2 painel-animado" ng-repeat="foto in fotos | filter: filtro" titulo="{{foto.titulo}}">
        <minha-foto url="{{foto.url}}" titulo="{{foto.titulo}}">
        </minha-foto>

        <a class="btn btn-primary btn-block" href="/fotos/edit/{{foto._id}}">Editar</a><!-- Precisamos construir um endereço diferente para cada foto, levando em consideração seu ID.-->
        <!--<button class="btn btn-danger btn-block"  ng-click="remover(foto)">Remover</button>--> <!-- chamara em fotos-controller a função remover, passando foto do ng-repeat como prmt-->
        <meu-botao-perigo nome="Remover" acao="remover(foto)"></meu-botao-perigo><!-- substituido o botão remover pela diretiva meu-botao-perigo-->
    </meu-painel>
</div>